body {
  background-color: #ffffff;
  color: #000000;
  font-size: 16px;
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

h1 {
  font-size: 3em;
  line-height: 1.5;
}

h3 {
  font-size: 1.75em;
  line-height: 1.4;
}

p {
  font-size: 125%;
  line-height: 1.35;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}

a {
  text-decoration: none;
  color: #0000ee;
}

a:hover {
  text-decoration: underline;
  color:#0000ee;
}

a:active {
  color:#00009C;
}
